{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Password Change
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Change your password</h2>
                    <p class="text-muted text-center fs-6">
                        To ensure the security of your account, please enter your current password followed by your new password twice for confirmation.
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid">
                            <button class="btn btn-primary mt-3" type="submit">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
