{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Delete Car</h1>
                        <p>
                            Are you sure you want to delete <strong>{{ car.make }} {{ car.model }} {{ car.year }}</strong>?
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            {% if car.author == request.user %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <a href="{% url 'car-detail' car.pk %}" class="btn btn-secondary ms-2">Cancel</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
